[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
python-dotenv = "*"
pymssql = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-praetorian = "*"
flask-marshmallow = "*"
flask-restx = "*"
marshmallow-sqlalchemy = "*"
pandas = "*"
numpy = "*"
click = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.11"
